:root {
  --spacing-small: 0.625rem;
  --spacing-very-small: 0.15625rem;

  --color-primary-50: hsl(125, 65%, 93%);
  --color-primary-100: hsl(125, 49%, 84%);
  --color-primary-200: hsl(125, 42%, 74%);
  --color-primary-300: hsl(125, 38%, 63%);
  --color-primary-400: hsl(125, 35%, 51%);
  --color-primary-500: hsl(125, 39%, 41%);
  --color-primary-600: hsl(125, 47%, 35%);
  --color-primary-700: hsl(125, 56%, 29%);
  --color-primary-800: hsl(125, 73%, 20%);
  --color-primary-900: hsl(125, 86%, 14%);
}

.dark {
  --color-primary-light: var(--color-primary-900);
  --color-primary-dark: var(--color-primary-50);
}

html,
body {
  padding: 0;
  margin: 0;
  @apply bg-zinc-50 dark:bg-zinc-900;
  @apply text-black dark:text-white;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  @apply text-base;
}

p {
  @apply text-base;
  @apply leading-normal;
}

* {
  box-sizing: border-box;
  font-size: 1rem;
}

h1 {
  text-align: center;
  @apply font-extrabold;
  @apply text-2xl sm:text-4xl;
  @apply my-6;
}

h2 {
  @apply font-bold;
  @apply text-xl sm:text-2xl;
  @apply my-3;
}

h3 {
  font-size: 1.8rem;
  @apply font-bold;
  @apply text-lg sm:text-xl;
  @apply my-2;
}

h4 {
  @apply font-semibold;
  @apply text-lg sm:text-base;
  @apply my-1;
}

h5,
h6 {
  @apply text-base;
  @apply font-semibold;
  @apply my-0.5;
}

svg {
  @apply inline-block;
}
