@keyframes expandToFullWidth {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.underline-on-hover {
  position: relative;
}

.underline-on-hover:hover::before {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary-light);
  transition: width 0.3s ease;
  animation: expandToFullWidth 0.5s;
}

.underline--dark:hover::before {
  background-color: var(--color-primary-dark);
}
