@keyframes expandToFullWidth {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.underline-on-hover {
  position: relative;
}

.underline-on-hover:hover::before {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  @apply bg-primary-600;
  transition: width 0.3s ease;
  animation: expandToFullWidth 0.5s;
}

.underline--dark:hover::before {
  @apply bg-primary-900;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
