.this-is-a-fix {
  //
}

.text-shadow {
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.grecaptcha-badge {
  visibility: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100vh;
  width: 200vw;
  transition: transform 0.5s;
}

// enter from
.sidebar.fade-enter {
  transform: translateX(100%);
}

// enter to
.sidebar.fade-enter-active {
  transform: translateX(0%);
}

// exit from
.sidebar.fade-exit {
  transform: translateX(0%);
}

// exit to
.sidebar.fade-exit-active {
  transform: translateX(100%);
}

.blog-layout > pre {
  margin: var(--spacing-small) 0;
}

.blog-layout blockquote > p {
  @apply pl-3;
}

.blog-layout > ul {
  margin: 0;
}

.blog-layout li {
  line-height: 1.5;
  list-style: disc;
  margin-left: 4rem;
}

.blog-layout > ol {
  margin: 0;
}

.blog-layout > p {
  padding: 0 var(--spacing-small);
  font-size: 1.6rem;
  line-height: 1.5;
  margin-left: var(--spacing-small);
}

.blog-layout li code,
.blog-layout p code,
.blog-layout h2 code,
.blog-layout h3 code,
.blog-layout h4 code,
.blog-layout h5 code,
.blog-layout h6 code {
  background-color: var(--color-light);
  padding: 0 var(--spacing-small);
  border: 1px solid var(--color-light-dark);
  border-radius: 2px;
  font-family: monospace;
}

.blog-layout h2 em,
.blog-layout h3 em,
.blog-layout h4 em,
.blog-layout h5 em,
.blog-layout h6 em {
  font-size: 1em;
}

.connector {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  width: 0.25rem;
  height: 2.5rem;
  position: absolute;
  top: -2.25rem;
  animation: appear 1s;
}

.connector::before {
  content: '';
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  background-color: var(--color-primary);
  border-radius: 50%;
  z-index: 1;
}

.connector--hidden {
  display: none;
}

.top-left-shape {
  top: 0;
  left: 0;
  transform: skew(135deg) translateX(-60%);
  background-color: var(--color-primary-dark);
  border-right: 1rem solid var(--color-primary-light);
}

.top-right-shape {
  top: 0;
  right: 0;
  transform: skew(45deg) translateX(50%);
  background-color: var(--color-primary-dark);
  border-left: 1rem solid var(--color-primary-light);
}

.bottom-left-shape {
  bottom: 0;
  left: 0;
  transform: skew(225deg) translateX(-60%);
  background-color: var(--color-primary-light);
  border-right: 1rem solid var(--color-primary-dark);
}

.bottom-right-shape {
  bottom: 0;
  right: 0;
  transform: skew(315deg) translateX(50%);
  background-color: var(--color-primary-light);
  border-left: 1rem solid var(--color-primary-dark);
}
