/* this is a for a weird bug*/

.text-shadow {
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.grecaptcha-badge {
  visibility: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100vh;
  width: 200vw;
  transition: transform 0.5s;
}

.connector {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  width: 0.25rem;
  height: 2.5rem;
  position: absolute;
  top: -2.25rem;
  animation: appear 1s;
}

.connector::before {
  content: '';
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  background-color: var(--color-primary);
  border-radius: 50%;
  z-index: 1;
}

.connector--hidden {
  display: none;
}

.top-left-shape {
  top: 0;
  left: 0;
  transform: skew(135deg) translateX(-60%);
  background-color: var(--color-primary-dark);
  border-right: 1rem solid var(--color-primary-light);
}

.top-right-shape {
  top: 0;
  right: 0;
  transform: skew(45deg) translateX(50%);
  background-color: var(--color-primary-dark);
  border-left: 1rem solid var(--color-primary-light);
}

.bottom-left-shape {
  bottom: 0;
  left: 0;
  transform: skew(225deg) translateX(-60%);
  background-color: var(--color-primary-light);
  border-right: 1rem solid var(--color-primary-dark);
}

.bottom-right-shape {
  bottom: 0;
  right: 0;
  transform: skew(315deg) translateX(50%);
  background-color: var(--color-primary-light);
  border-left: 1rem solid var(--color-primary-dark);
}
