/* this is a for a weird bug*/

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.grecaptcha-badge {
  visibility: hidden;
}

.connector {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.125rem;
  height: 2.5rem;
  position: absolute;
  top: -2.25rem;
  animation: appear 1s;
  @apply bg-primary-800 dark:bg-primary-300;
}

.connector::before {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  @apply bg-primary-800 dark:bg-primary-300;
}

.connector--hidden {
  display: none;
}

.top-left-shape {
  top: 0;
  left: 0;
  transform: skew(135deg) translateX(-60%);
  @apply bg-primary-800 dark:bg-primary-300 border-r-8 border-primary-700 dark:border-primary-200;
}

.top-right-shape {
  top: 0;
  right: 0;
  transform: skew(45deg) translateX(50%);
  @apply bg-primary-800 dark:bg-primary-300 border-l-8 border-primary-700 dark:border-primary-200;
}

.bottom-left-shape {
  bottom: 0;
  left: 0;
  transform: skew(225deg) translateX(-60%);
  @apply bg-primary-300 dark:bg-primary-800 border-r-8 border-primary-200 dark:border-primary-700;
}

.bottom-right-shape {
  bottom: 0;
  right: 0;
  transform: skew(315deg) translateX(50%);
  @apply bg-primary-300 dark:bg-primary-800 border-l-8 border-primary-200 dark:border-primary-700;
}
