:root {
  --margin-big: 6rem;
  --margin-medium: 3rem;
  --margin-small: 1.5rem;
  --margin-very-small: 0.25rem;

  --padding-big: 5rem;
  --padding-medium: 2.5rem;
  --padding-small: 1rem;
  --padding-very-small: 0.25rem;

  --light-gray-1: #eee;
  --light-gray-2: #bbb;
  --dark-gray-1: #222;
  --dark-gray-2: #777;
}

[data-theme='light'] {
  --color-primary: #55c57a;
  --color-primary-contrast: #fff;
  --color-primary-light: #99d326;
  --color-primary-dark: green;
  --color-primary-accent: #3ff000;

  --color-dark: #222222;
  --color-dark-contrast: #fff;
  --color-dark-light: #555;
  --color-dark-dark: #000;
  --color-dark-accent: green;

  --color-light: #f3f3f3;
  --color-light-contrast: rgb(39, 38, 38);
  --color-light-light: #ffffff;
  --color-light-dark: #cfcfcf;
  --color-light-accent: #eeeeee;
}

[data-theme='dark'] {
  --color-primary: #55c57a;
  --color-primary-contrast: #fff;
  --color-primary-dark: #99d326;
  --color-primary-light: green;
  --color-primary-accent: #3ff000;

  --color-light: #222222;
  --color-light-contrast: #fff;
  --color-light-light: #000;
  --color-light-dark: #555;
  --color-light-accent: green;

  --color-dark: #f3f3f3;
  --color-dark-contrast: rgb(39, 38, 38);
  --color-dark-dark: #ffffff;
  --color-dark-light: #cfcfcf;
  --color-dark-accent: #eeeeee;
}

html {
  font-size: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: var(--color-light-light);
  color: var(--color-dark-dark);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-size: 1.6rem;
}

h1 {
  font-size: 4rem;
  margin: var(--margin-medium) 0;
  text-align: center;
}

h2 {
  font-size: 2.2rem;
  margin: var(--margin-small) 0;
}

h3 {
  font-size: 1.8rem;
  margin: var(--margin-very-small) 0;
}

h4 {
  font-size: 1.6rem;
  margin: var(--margin-very-small) 0;
  padding-left: var(--padding-very-small);
}

h5,
h6 {
  font-size: 1.6rem;
  margin: var(--margin-very-small) 0;
  padding-left: var(--padding-small);
}
